/* [project]/src/app/globals.css [app-client] (css) */
@layer properties {
  @supports (((-webkit-hyphens: none)) and (not (margin-trim: inline))) or ((-moz-orient: inline) and (not (color: rgb(from red r g b)))) {
    *, :before, :after, ::backdrop {
      --tw-translate-x: 0;
      --tw-translate-y: 0;
      --tw-translate-z: 0;
      --tw-border-style: solid;
      --tw-leading: initial;
      --tw-font-weight: initial;
      --tw-tracking: initial;
      --tw-shadow: 0 0 #0000;
      --tw-shadow-color: initial;
      --tw-shadow-alpha: 100%;
      --tw-inset-shadow: 0 0 #0000;
      --tw-inset-shadow-color: initial;
      --tw-inset-shadow-alpha: 100%;
      --tw-ring-color: initial;
      --tw-ring-shadow: 0 0 #0000;
      --tw-inset-ring-color: initial;
      --tw-inset-ring-shadow: 0 0 #0000;
      --tw-ring-inset: initial;
      --tw-ring-offset-width: 0px;
      --tw-ring-offset-color: #fff;
      --tw-ring-offset-shadow: 0 0 #0000;
      --tw-blur: initial;
      --tw-brightness: initial;
      --tw-contrast: initial;
      --tw-grayscale: initial;
      --tw-hue-rotate: initial;
      --tw-invert: initial;
      --tw-opacity: initial;
      --tw-saturate: initial;
      --tw-sepia: initial;
      --tw-drop-shadow: initial;
      --tw-drop-shadow-color: initial;
      --tw-drop-shadow-alpha: 100%;
      --tw-drop-shadow-size: initial;
      --tw-duration: initial;
      --tw-ease: initial;
      --tw-scale-x: 1;
      --tw-scale-y: 1;
      --tw-scale-z: 1;
    }
  }
}

@layer theme {
  :root, :host {
    --font-sans: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
    --color-white: #fff;
    --spacing: .25rem;
    --text-sm: .875rem;
    --text-sm--line-height: calc(1.25 / .875);
    --text-base: 1rem;
    --text-base--line-height: calc(1.5 / 1);
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --leading-tight: 1.25;
    --ease-out: cubic-bezier(0, 0, .2, 1);
    --default-transition-duration: .15s;
    --default-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
    --default-font-family: var(--font-sans);
    --default-mono-font-family: var(--font-mono);
    --color-light: #fcfaef;
    --color-dark: #2b2b2b;
  }
}

@layer base {
  *, :after, :before, ::backdrop {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  ::file-selector-button {
    box-sizing: border-box;
    border: 0 solid;
    margin: 0;
    padding: 0;
  }

  html, :host {
    -webkit-text-size-adjust: 100%;
    tab-size: 4;
    line-height: 1.5;
    font-family: var(--default-font-family, ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji");
    font-feature-settings: var(--default-font-feature-settings, normal);
    font-variation-settings: var(--default-font-variation-settings, normal);
    -webkit-tap-highlight-color: transparent;
  }

  hr {
    height: 0;
    color: inherit;
    border-top-width: 1px;
  }

  abbr:where([title]) {
    -webkit-text-decoration: underline dotted;
    text-decoration: underline dotted;
  }

  h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: inherit;
  }

  a {
    color: inherit;
    -webkit-text-decoration: inherit;
    -webkit-text-decoration: inherit;
    text-decoration: inherit;
  }

  b, strong {
    font-weight: bolder;
  }

  code, kbd, samp, pre {
    font-family: var(--default-mono-font-family, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace);
    font-feature-settings: var(--default-mono-font-feature-settings, normal);
    font-variation-settings: var(--default-mono-font-variation-settings, normal);
    font-size: 1em;
  }

  small {
    font-size: 80%;
  }

  sub, sup {
    vertical-align: baseline;
    font-size: 75%;
    line-height: 0;
    position: relative;
  }

  sub {
    bottom: -.25em;
  }

  sup {
    top: -.5em;
  }

  table {
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse;
  }

  :-moz-focusring {
    outline: auto;
  }

  progress {
    vertical-align: baseline;
  }

  summary {
    display: list-item;
  }

  ol, ul, menu {
    list-style: none;
  }

  img, svg, video, canvas, audio, iframe, embed, object {
    vertical-align: middle;
    display: block;
  }

  img, video {
    max-width: 100%;
    height: auto;
  }

  button, input, select, optgroup, textarea {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  ::file-selector-button {
    font: inherit;
    font-feature-settings: inherit;
    font-variation-settings: inherit;
    letter-spacing: inherit;
    color: inherit;
    opacity: 1;
    background-color: #0000;
    border-radius: 0;
  }

  :where(select:is([multiple], [size])) optgroup {
    font-weight: bolder;
  }

  :where(select:is([multiple], [size])) optgroup option {
    padding-inline-start: 20px;
  }

  ::file-selector-button {
    margin-inline-end: 4px;
  }

  ::placeholder {
    opacity: 1;
  }

  @supports (not ((-webkit-appearance: -apple-pay-button))) or (contain-intrinsic-size: 1px) {
    ::placeholder {
      color: currentColor;
    }

    @supports (color: color-mix(in lab, red, red)) {
      ::placeholder {
        color: color-mix(in oklab, currentcolor 50%, transparent);
      }
    }
  }

  textarea {
    resize: vertical;
  }

  ::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  ::-webkit-date-and-time-value {
    min-height: 1lh;
    text-align: inherit;
  }

  ::-webkit-datetime-edit {
    display: inline-flex;
  }

  ::-webkit-datetime-edit-fields-wrapper {
    padding: 0;
  }

  ::-webkit-datetime-edit {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-year-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-month-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-day-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-hour-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-minute-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-second-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-millisecond-field {
    padding-block: 0;
  }

  ::-webkit-datetime-edit-meridiem-field {
    padding-block: 0;
  }

  ::-webkit-calendar-picker-indicator {
    line-height: 1;
  }

  :-moz-ui-invalid {
    box-shadow: none;
  }

  button, input:where([type="button"], [type="reset"], [type="submit"]) {
    appearance: button;
  }

  ::file-selector-button {
    appearance: button;
  }

  ::-webkit-inner-spin-button {
    height: auto;
  }

  ::-webkit-outer-spin-button {
    height: auto;
  }

  [hidden]:where(:not([hidden="until-found"])) {
    display: none !important;
  }
}

@layer components;

@layer utilities {
  .pointer-events-none {
    pointer-events: none;
  }

  .absolute {
    position: absolute;
  }

  .fixed {
    position: fixed;
  }

  .relative {
    position: relative;
  }

  .sticky {
    position: sticky;
  }

  .inset-0 {
    inset: calc(var(--spacing) * 0);
  }

  .start {
    inset-inline-start: var(--spacing);
  }

  .top-0 {
    top: calc(var(--spacing) * 0);
  }

  .top-\[-7px\] {
    top: -7px;
  }

  .right-0 {
    right: calc(var(--spacing) * 0);
  }

  .right-6 {
    right: calc(var(--spacing) * 6);
  }

  .bottom-0 {
    bottom: calc(var(--spacing) * 0);
  }

  .bottom-8 {
    bottom: calc(var(--spacing) * 8);
  }

  .bottom-\[50px\] {
    bottom: 50px;
  }

  .-left-\[18px\] {
    left: -18px;
  }

  .left-0 {
    left: calc(var(--spacing) * 0);
  }

  .left-6 {
    left: calc(var(--spacing) * 6);
  }

  .z-0 {
    z-index: 0;
  }

  .z-10 {
    z-index: 10;
  }

  .z-20 {
    z-index: 20;
  }

  .z-50 {
    z-index: 50;
  }

  .mx-auto {
    margin-inline: auto;
  }

  .mt-0 {
    margin-top: calc(var(--spacing) * 0);
  }

  .mt-6 {
    margin-top: calc(var(--spacing) * 6);
  }

  .mt-8 {
    margin-top: calc(var(--spacing) * 8);
  }

  .mt-10 {
    margin-top: calc(var(--spacing) * 10);
  }

  .mb-10 {
    margin-bottom: calc(var(--spacing) * 10);
  }

  .mb-12 {
    margin-bottom: calc(var(--spacing) * 12);
  }

  .block {
    display: block;
  }

  .flex {
    display: flex;
  }

  .grid {
    display: grid;
  }

  .hidden {
    display: none;
  }

  .inline-block {
    display: inline-block;
  }

  .h-0 {
    height: calc(var(--spacing) * 0);
  }

  .h-0\.5 {
    height: calc(var(--spacing) * .5);
  }

  .h-1\.5 {
    height: calc(var(--spacing) * 1.5);
  }

  .h-5 {
    height: calc(var(--spacing) * 5);
  }

  .h-6 {
    height: calc(var(--spacing) * 6);
  }

  .h-\[33px\] {
    height: 33px;
  }

  .h-\[36px\] {
    height: 36px;
  }

  .h-\[45px\] {
    height: 45px;
  }

  .h-\[48px\] {
    height: 48px;
  }

  .h-\[54px\] {
    height: 54px;
  }

  .h-\[60vh\] {
    height: 60vh;
  }

  .h-\[68px\] {
    height: 68px;
  }

  .h-\[75px\] {
    height: 75px;
  }

  .h-\[126px\] {
    height: 126px;
  }

  .h-\[190px\] {
    height: 190px;
  }

  .h-\[200px\] {
    height: 200px;
  }

  .h-\[258px\] {
    height: 258px;
  }

  .h-\[300px\] {
    height: 300px;
  }

  .h-\[494px\] {
    height: 494px;
  }

  .h-full {
    height: 100%;
  }

  .min-h-\[400px\] {
    min-height: 400px;
  }

  .w-1\.5 {
    width: calc(var(--spacing) * 1.5);
  }

  .w-5 {
    width: calc(var(--spacing) * 5);
  }

  .w-6 {
    width: calc(var(--spacing) * 6);
  }

  .w-\[35px\] {
    width: 35px;
  }

  .w-\[40px\] {
    width: 40px;
  }

  .w-\[48px\] {
    width: 48px;
  }

  .w-\[50px\] {
    width: 50px;
  }

  .w-\[54px\] {
    width: 54px;
  }

  .w-\[60px\] {
    width: 60px;
  }

  .w-\[96px\] {
    width: 96px;
  }

  .w-\[100px\] {
    width: 100px;
  }

  .w-\[150px\] {
    width: 150px;
  }

  .w-\[200px\] {
    width: 200px;
  }

  .w-\[205px\] {
    width: 205px;
  }

  .w-\[494px\] {
    width: 494px;
  }

  .w-full {
    width: 100%;
  }

  .max-w-\[1280px\] {
    max-width: 1280px;
  }

  .flex-1 {
    flex: 1;
  }

  .shrink-0 {
    flex-shrink: 0;
  }

  .translate-x-1\/2 {
    --tw-translate-x: calc(1 / 2 * 100%);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .-translate-y-2 {
    --tw-translate-y: calc(var(--spacing) * -2);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-0 {
    --tw-translate-y: calc(var(--spacing) * 0);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-1\/4 {
    --tw-translate-y: calc(1 / 4 * 100%);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-2 {
    --tw-translate-y: calc(var(--spacing) * 2);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-8 {
    --tw-translate-y: calc(var(--spacing) * 8);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-10 {
    --tw-translate-y: calc(var(--spacing) * 10);
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .translate-y-full {
    --tw-translate-y: 100%;
    translate: var(--tw-translate-x) var(--tw-translate-y);
  }

  .-rotate-45 {
    rotate: -45deg;
  }

  .rotate-45 {
    rotate: 45deg;
  }

  .cursor-pointer {
    cursor: pointer;
  }

  .grid-cols-1 {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }

  .flex-col {
    flex-direction: column;
  }

  .flex-wrap {
    flex-wrap: wrap;
  }

  .items-center {
    align-items: center;
  }

  .items-end {
    align-items: flex-end;
  }

  .items-start {
    align-items: flex-start;
  }

  .justify-between {
    justify-content: space-between;
  }

  .justify-center {
    justify-content: center;
  }

  .justify-end {
    justify-content: flex-end;
  }

  .gap-1\.5 {
    gap: calc(var(--spacing) * 1.5);
  }

  .gap-2 {
    gap: calc(var(--spacing) * 2);
  }

  .gap-3 {
    gap: calc(var(--spacing) * 3);
  }

  .gap-4 {
    gap: calc(var(--spacing) * 4);
  }

  .gap-5 {
    gap: calc(var(--spacing) * 5);
  }

  .gap-6 {
    gap: calc(var(--spacing) * 6);
  }

  .gap-8 {
    gap: calc(var(--spacing) * 8);
  }

  .gap-10 {
    gap: calc(var(--spacing) * 10);
  }

  .gap-14 {
    gap: calc(var(--spacing) * 14);
  }

  .gap-\[2px\] {
    gap: 2px;
  }

  .gap-\[20px\] {
    gap: 20px;
  }

  .gap-\[25px\] {
    gap: 25px;
  }

  .gap-\[27px\] {
    gap: 27px;
  }

  .gap-\[30px\] {
    gap: 30px;
  }

  .self-center {
    align-self: center;
  }

  .self-end {
    align-self: flex-end;
  }

  .overflow-hidden {
    overflow: hidden;
  }

  .overflow-x-hidden {
    overflow-x: hidden;
  }

  .rounded-\[56px\] {
    border-radius: 56px;
  }

  .rounded-full {
    border-radius: 3.40282e38px;
  }

  .border {
    border-style: var(--tw-border-style);
    border-width: 1px;
  }

  .border-b-2 {
    border-bottom-style: var(--tw-border-style);
    border-bottom-width: 2px;
  }

  .border-primary {
    border-color: #778773;
  }

  .border-secondary {
    border-color: #ebdfcc;
  }

  .bg-\[\#2B2B2B\]\/50 {
    background-color: #2b2b2b80;
    background-color: lab(17.5333% 0 0 / .5);
  }

  .bg-dark {
    background-color: #2b2b2b;
  }

  .bg-dark\/30 {
    background-color: #2b2b2b4d;
    background-color: lab(17.5333% 0 0 / .3);
  }

  .bg-light {
    background-color: #fcfaef;
  }

  .bg-primary {
    background-color: #778773;
  }

  .bg-secondary {
    background-color: #ebdfcc;
  }

  .bg-transparent {
    background-color: #0000;
  }

  .bg-white {
    background-color: var(--color-white);
  }

  .object-contain {
    object-fit: contain;
  }

  .object-cover {
    object-fit: cover;
  }

  .p-2 {
    padding: calc(var(--spacing) * 2);
  }

  .p-\[10px\] {
    padding: 10px;
  }

  .px-4 {
    padding-inline: calc(var(--spacing) * 4);
  }

  .px-6 {
    padding-inline: calc(var(--spacing) * 6);
  }

  .px-8 {
    padding-inline: calc(var(--spacing) * 8);
  }

  .px-9 {
    padding-inline: calc(var(--spacing) * 9);
  }

  .px-\[36px\] {
    padding-inline: 36px;
  }

  .py-3 {
    padding-block: calc(var(--spacing) * 3);
  }

  .py-4 {
    padding-block: calc(var(--spacing) * 4);
  }

  .py-8 {
    padding-block: calc(var(--spacing) * 8);
  }

  .py-10 {
    padding-block: calc(var(--spacing) * 10);
  }

  .py-12 {
    padding-block: calc(var(--spacing) * 12);
  }

  .py-16 {
    padding-block: calc(var(--spacing) * 16);
  }

  .py-24 {
    padding-block: calc(var(--spacing) * 24);
  }

  .py-\[14px\] {
    padding-block: 14px;
  }

  .py-\[16px\] {
    padding-block: 16px;
  }

  .pt-0 {
    padding-top: calc(var(--spacing) * 0);
  }

  .pb-6 {
    padding-bottom: calc(var(--spacing) * 6);
  }

  .text-center {
    text-align: center;
  }

  .font-belle {
    font-family: var(--font-belle-face), serif;
  }

  .font-gabarito {
    font-family: var(--font-gabarito-face), "Gabarito", sans-serif;
  }

  .text-base {
    font-size: var(--text-base);
    line-height: var(--tw-leading, var(--text-base--line-height));
  }

  .text-sm {
    font-size: var(--text-sm);
    line-height: var(--tw-leading, var(--text-sm--line-height));
  }

  .text-\[16px\] {
    font-size: 16px;
  }

  .text-\[24px\] {
    font-size: 24px;
  }

  .text-\[28px\] {
    font-size: 28px;
  }

  .text-\[36px\] {
    font-size: 36px;
  }

  .text-\[40px\] {
    font-size: 40px;
  }

  .text-body {
    font-size: 20px;
  }

  .text-h2 {
    font-size: 64px;
  }

  .text-h4 {
    font-size: 48px;
  }

  .text-label {
    font-size: 18px;
  }

  .text-subtitle {
    font-size: 20px;
  }

  .leading-\[1\.2\] {
    --tw-leading: 1.2;
    line-height: 1.2;
  }

  .leading-\[1\.4\] {
    --tw-leading: 1.4;
    line-height: 1.4;
  }

  .leading-none {
    --tw-leading: 1;
    line-height: 1;
  }

  .leading-tight {
    --tw-leading: var(--leading-tight);
    line-height: var(--leading-tight);
  }

  .font-medium {
    --tw-font-weight: var(--font-weight-medium);
    font-weight: var(--font-weight-medium);
  }

  .font-normal {
    --tw-font-weight: var(--font-weight-normal);
    font-weight: var(--font-weight-normal);
  }

  .font-semibold {
    --tw-font-weight: var(--font-weight-semibold);
    font-weight: var(--font-weight-semibold);
  }

  .tracking-\[0\.8px\] {
    --tw-tracking: .8px;
    letter-spacing: .8px;
  }

  .tracking-\[0\.9px\] {
    --tw-tracking: .9px;
    letter-spacing: .9px;
  }

  .tracking-\[1px\] {
    --tw-tracking: 1px;
    letter-spacing: 1px;
  }

  .whitespace-nowrap {
    white-space: nowrap;
  }

  .text-dark {
    color: #2b2b2b;
  }

  .text-light {
    color: #fcfaef;
  }

  .text-primary {
    color: #778773;
  }

  .text-secondary {
    color: #ebdfcc;
  }

  .uppercase {
    text-transform: uppercase;
  }

  .antialiased {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .opacity-0 {
    opacity: 0;
  }

  .opacity-100 {
    opacity: 1;
  }

  .shadow-md {
    --tw-shadow: 0 4px 6px -1px var(--tw-shadow-color, #0000001a), 0 2px 4px -2px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .shadow-sm {
    --tw-shadow: 0 1px 3px 0 var(--tw-shadow-color, #0000001a), 0 1px 2px -1px var(--tw-shadow-color, #0000001a);
    box-shadow: var(--tw-inset-shadow), var(--tw-inset-ring-shadow), var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow);
  }

  .invert {
    --tw-invert: invert(100%);
    filter: var(--tw-blur, ) var(--tw-brightness, ) var(--tw-contrast, ) var(--tw-grayscale, ) var(--tw-hue-rotate, ) var(--tw-invert, ) var(--tw-saturate, ) var(--tw-sepia, ) var(--tw-drop-shadow, );
  }

  .transition-all {
    transition-property: all;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-colors {
    transition-property: color, background-color, border-color, outline-color, text-decoration-color, fill, stroke, --tw-gradient-from, --tw-gradient-via, --tw-gradient-to;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-opacity {
    transition-property: opacity;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .transition-transform {
    transition-property: transform, translate, scale, rotate;
    transition-timing-function: var(--tw-ease, var(--default-transition-timing-function));
    transition-duration: var(--tw-duration, var(--default-transition-duration));
  }

  .delay-100 {
    transition-delay: .1s;
  }

  .duration-300 {
    --tw-duration: .3s;
    transition-duration: .3s;
  }

  .duration-500 {
    --tw-duration: .5s;
    transition-duration: .5s;
  }

  .duration-1000 {
    --tw-duration: 1s;
    transition-duration: 1s;
  }

  .ease-\[cubic-bezier\(0\.25\,0\.1\,0\.25\,1\)\] {
    --tw-ease: cubic-bezier(.25, .1, .25, 1);
    transition-timing-function: ease;
  }

  .ease-out {
    --tw-ease: var(--ease-out);
    transition-timing-function: var(--ease-out);
  }

  .outline-none {
    --tw-outline-style: none;
    outline-style: none;
  }

  @media (hover: hover) {
    .group-hover\:mt-4:is(:where(.group):hover *) {
      margin-top: calc(var(--spacing) * 4);
    }
  }

  @media (hover: hover) {
    .group-hover\:h-auto:is(:where(.group):hover *) {
      height: auto;
    }
  }

  @media (hover: hover) {
    .group-hover\:translate-y-0:is(:where(.group):hover *) {
      --tw-translate-y: calc(var(--spacing) * 0);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }

  @media (hover: hover) {
    .group-hover\:scale-105:is(:where(.group):hover *) {
      --tw-scale-x: 105%;
      --tw-scale-y: 105%;
      --tw-scale-z: 105%;
      scale: var(--tw-scale-x) var(--tw-scale-y);
    }
  }

  @media (hover: hover) {
    .group-hover\:bg-dark\/50:is(:where(.group):hover *) {
      background-color: #2b2b2b80;
      background-color: lab(17.5333% 0 0 / .5);
    }
  }

  @media (hover: hover) {
    .group-hover\:opacity-100:is(:where(.group):hover *) {
      opacity: 1;
    }
  }

  .placeholder\:text-dark\/60::placeholder {
    color: #2b2b2b99;
    color: lab(17.5333% 0 0 / .6);
  }

  @media (hover: hover) {
    .hover\:bg-\[\#667762\]:hover {
      background-color: #667762;
    }
  }

  @media (hover: hover) {
    .hover\:bg-\[\#d4c8b5\]:hover {
      background-color: #d4c8b5;
    }
  }

  @media (hover: hover) {
    .hover\:bg-secondary\/10:hover {
      background-color: #ebdfcc1a;
      background-color: lab(89.4137% 1.92225 10.8932 / .1);
    }
  }

  @media (hover: hover) {
    .hover\:text-primary:hover {
      color: #778773;
    }
  }

  @media (hover: hover) {
    .hover\:opacity-80:hover {
      opacity: .8;
    }
  }

  @media (min-width: 40rem) {
    .sm\:grid-cols-2 {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
  }

  @media (min-width: 48rem) {
    .md\:right-\[40px\] {
      right: 40px;
    }
  }

  @media (min-width: 48rem) {
    .md\:bottom-\[56px\] {
      bottom: 56px;
    }
  }

  @media (min-width: 48rem) {
    .md\:left-\[40px\] {
      left: 40px;
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-16 {
      margin-top: calc(var(--spacing) * 16);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-20 {
      margin-top: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-25 {
      margin-top: calc(var(--spacing) * 25);
    }
  }

  @media (min-width: 48rem) {
    .md\:mt-\[40px\] {
      margin-top: 40px;
    }
  }

  @media (min-width: 48rem) {
    .md\:mb-20 {
      margin-bottom: calc(var(--spacing) * 20);
    }
  }

  @media (min-width: 48rem) {
    .md\:block {
      display: block;
    }
  }

  @media (min-width: 48rem) {
    .md\:flex {
      display: flex;
    }
  }

  @media (min-width: 48rem) {
    .md\:hidden {
      display: none;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-\[53px\] {
      height: 53px;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-\[353px\] {
      height: 353px;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-\[559px\] {
      height: 559px;
    }
  }

  @media (min-width: 48rem) {
    .md\:h-\[calc\(100vh-100px\)\] {
      height: calc(100vh - 100px);
    }
  }

  @media (min-width: 48rem) {
    .md\:min-h-\[700px\] {
      min-height: 700px;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[55\%\] {
      width: 55%;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[57px\] {
      width: 57px;
    }
  }

  @media (min-width: 48rem) {
    .md\:w-\[353px\] {
      width: 353px;
    }
  }

  @media (min-width: 48rem) {
    .md\:flex-1 {
      flex: 1;
    }
  }

  @media (min-width: 48rem) {
    .md\:translate-x-3\/4 {
      --tw-translate-x: calc(3 / 4 * 100%);
      translate: var(--tw-translate-x) var(--tw-translate-y);
    }
  }

  @media (min-width: 48rem) {
    .md\:flex-row {
      flex-direction: row;
    }
  }

  @media (min-width: 48rem) {
    .md\:items-start {
      align-items: flex-start;
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-0 {
      gap: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-5 {
      gap: calc(var(--spacing) * 5);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-16 {
      gap: calc(var(--spacing) * 16);
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-\[41px\] {
      gap: 41px;
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-\[48px\] {
      gap: 48px;
    }
  }

  @media (min-width: 48rem) {
    .md\:gap-\[72px\] {
      gap: 72px;
    }
  }

  @media (min-width: 48rem) {
    .md\:self-start {
      align-self: flex-start;
    }
  }

  @media (min-width: 48rem) {
    .md\:px-0 {
      padding-inline: calc(var(--spacing) * 0);
    }
  }

  @media (min-width: 48rem) {
    .md\:px-\[40px\] {
      padding-inline: 40px;
    }
  }

  @media (min-width: 48rem) {
    .md\:px-\[60px\] {
      padding-inline: 60px;
    }
  }

  @media (min-width: 48rem) {
    .md\:px-\[88px\] {
      padding-inline: 88px;
    }
  }

  @media (min-width: 48rem) {
    .md\:px-\[91px\] {
      padding-inline: 91px;
    }
  }

  @media (min-width: 48rem) {
    .md\:px-\[192px\] {
      padding-inline: 192px;
    }
  }

  @media (min-width: 48rem) {
    .md\:py-6 {
      padding-block: calc(var(--spacing) * 6);
    }
  }

  @media (min-width: 48rem) {
    .md\:py-24 {
      padding-block: calc(var(--spacing) * 24);
    }
  }

  @media (min-width: 48rem) {
    .md\:py-\[56px\] {
      padding-block: 56px;
    }
  }

  @media (min-width: 48rem) {
    .md\:py-\[60px\] {
      padding-block: 60px;
    }
  }

  @media (min-width: 48rem) {
    .md\:py-\[68px\] {
      padding-block: 68px;
    }
  }

  @media (min-width: 48rem) {
    .md\:py-\[160px\] {
      padding-block: 160px;
    }
  }

  @media (min-width: 48rem) {
    .md\:pt-16 {
      padding-top: calc(var(--spacing) * 16);
    }
  }

  @media (min-width: 48rem) {
    .md\:text-left {
      text-align: left;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-body {
      font-size: 20px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-h1 {
      font-size: 78px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-h2 {
      font-size: 64px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-h3 {
      font-size: 56px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-h5 {
      font-size: 36px;
    }
  }

  @media (min-width: 48rem) {
    .md\:text-h6 {
      font-size: 24px;
    }
  }

  @media (min-width: 64rem) {
    .lg\:grid-cols-4 {
      grid-template-columns: repeat(4, minmax(0, 1fr));
    }
  }
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--color-light);
  color: var(--color-dark);
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-belle-face), serif;
}

@keyframes scroll-right-left {
  0% {
    transform: translateX(0);
  }

  12% {
    transform: translateX(-50%);
  }

  100% {
    transform: translateX(0);
  }
}

.animate-scroll-left {
  animation: 18s cubic-bezier(.4, 0, .2, 1) infinite scroll-right-left;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #fcfaef;
}

::-webkit-scrollbar-thumb {
  background: #778773;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #667762;
}

* {
  scrollbar-width: thin;
  scrollbar-color: #778773 #fcfaef;
}

@property --tw-translate-x {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-y {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-translate-z {
  syntax: "*";
  inherits: false;
  initial-value: 0;
}

@property --tw-border-style {
  syntax: "*";
  inherits: false;
  initial-value: solid;
}

@property --tw-leading {
  syntax: "*";
  inherits: false
}

@property --tw-font-weight {
  syntax: "*";
  inherits: false
}

@property --tw-tracking {
  syntax: "*";
  inherits: false
}

@property --tw-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-inset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-inset-ring-color {
  syntax: "*";
  inherits: false
}

@property --tw-inset-ring-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-ring-inset {
  syntax: "*";
  inherits: false
}

@property --tw-ring-offset-width {
  syntax: "<length>";
  inherits: false;
  initial-value: 0;
}

@property --tw-ring-offset-color {
  syntax: "*";
  inherits: false;
  initial-value: #fff;
}

@property --tw-ring-offset-shadow {
  syntax: "*";
  inherits: false;
  initial-value: 0 0 #0000;
}

@property --tw-blur {
  syntax: "*";
  inherits: false
}

@property --tw-brightness {
  syntax: "*";
  inherits: false
}

@property --tw-contrast {
  syntax: "*";
  inherits: false
}

@property --tw-grayscale {
  syntax: "*";
  inherits: false
}

@property --tw-hue-rotate {
  syntax: "*";
  inherits: false
}

@property --tw-invert {
  syntax: "*";
  inherits: false
}

@property --tw-opacity {
  syntax: "*";
  inherits: false
}

@property --tw-saturate {
  syntax: "*";
  inherits: false
}

@property --tw-sepia {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-color {
  syntax: "*";
  inherits: false
}

@property --tw-drop-shadow-alpha {
  syntax: "<percentage>";
  inherits: false;
  initial-value: 100%;
}

@property --tw-drop-shadow-size {
  syntax: "*";
  inherits: false
}

@property --tw-duration {
  syntax: "*";
  inherits: false
}

@property --tw-ease {
  syntax: "*";
  inherits: false
}

@property --tw-scale-x {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-y {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

@property --tw-scale-z {
  syntax: "*";
  inherits: false;
  initial-value: 1;
}

/*# sourceMappingURL=src_app_globals_css_bad6b30c._.single.css.map*/